@using Focus2Infinity.Data
@inject F2IDataService f2iDataService

<div class="col-12 col-sm-6 d-flex flex-row justify-content-center">
  <Cmp_ImageCard Topic=@Topic Img=@Name />
</div>
<div class="col-12 col-sm-6 ">
  <Cmp_TextCard Topic=@Topic Src=@Name />
</div>


@code {
  [Parameter]
  public string Topic { get; set; }

  [Parameter]
  public string Name { get; set; }
}
