@page "/imagecard"
@using System.Drawing
@using System.Drawing.Imaging
@using System.IO
@inject NavigationManager Navigation

<a href=@details @onclick="goToImgDetails">
  <img src=@ImgTbn style="margin: 3px; border: 1px solid white; border-radius: 10px;" />
</a>

@code {
  [Parameter]
  public string Topic { get; set; }

  [Parameter]
  public string Img { get; set; }

  string ImgFile => Path.Combine("img", Topic, Img);
  string ImgTbn => Path.Combine("img", Topic, $"Tbn_{Img}");
  string details => $"/imagedetails/{Topic}/{Img}";

  private void NavigateToImageDetails(MouseEventArgs e)
  {
    Navigation.NavigateTo($"/imagedetails/{Uri.EscapeDataString(ImgFile)}");
  }
  private void goToImgDetails(MouseEventArgs e)
  {
    var x = e.Detail;
    throw new NotImplementedException();
  }
}


