@using Focus2Infinity.Data
@inject F2IDataService f2iDataService

  <div class="col-2">
    <Cmp_ImageCard  Topic=@Topic Img=@Name/>
  </div>
  <div class="col-4">
  <Cmp_TextCard Topic=@Topic Src=@Name />
  </div>


@code {
  [Parameter]
  public string Topic { get; set; }

  [Parameter]
  public string Name { get; set; }
}
