@page "/imagecard"
@using System.Drawing
@using System.Drawing.Imaging
@using System.IO

  <a href=@details>
    <img src=@ImgTbn style="margin: 3px; border: 1px solid white; border-radius: 10px; max-width: none; max-height: none;" />
  </a>

@code {
  [Parameter]
  public string Topic { get; set; }

  [Parameter]
  public string Img { get; set; }

  string ImgFile => Path.Combine("img", Topic, Img);
  string ImgTbn => Path.Combine("img", Topic, $"Tbn_{Img}");
  string details => $"/imagedetails/{Topic}/{Img}";
}


