@using Focus2Infinity.Data
@inject F2IDataService f2iDataService

<div class="text-center" style="margin: 50px 10px;">
  <h3>@Topic</h3>
</div>

@if (images == null)
{
  <h5>Loading...</h5>
}
else
{
  for (int i = 0; i < images.Count; i++)
  {
    <div class="row" style="margin: 50px 10px;">
      <Cmp_ImgStory Topic=@Topic Name=@GetImg(i) />
    </div>
  }
}

@code {
  [Parameter]
  public string Topic { get; set; }
  List<string> images;
  string GetImg(int i) => @$"{images[i]}";

  protected override async Task OnInitializedAsync()
  {
    images = await f2iDataService.GetSubTopicsSorted(Topic);
  }
}