@using Focus2Infinity.Data
@using Focus2Infinity
@using Microsoft.AspNetCore.Html
@using Microsoft.Extensions.Localization
@inject F2IDataService f2iDataService
@inject IStringLocalizer<SharedResource> L

@if (_source == null)
{
  <h5>@L["Loading"]</h5>
}
else
{
  <div class="row">
    <h5>@Headline</h5>
    @foreach (var item in Content)
    {
      <div class="row">
        <div class="col-12 col-md-3 justify-content-end">
          <h7 style="font-weight:bold;">@item.Key:</h7>
        </div>
        <div class="col-12 col-md-9 justify-content-end">
          <h7>
            @((MarkupString)Unwrap(item.Value))  
          </h7>
        </div>
      </div>
    }
  </div>
}

@code {
  [Parameter]
  public string Topic { get; set; }

  [Parameter]
  public string Src { get; set; }

  [Parameter]
  public bool Details { get; set; } = false;

  [Parameter]
  public bool HasOverlay { get; set; } = false;

  private ImageStory? _source;
  private string Headline
  {
    get
    {
      var headline = _source?.GetHeadline();
      if (HasOverlay)
      {
        return $"{headline} *";
      }
      return headline;
    }
  }

  private IEnumerable<KeyValuePair<string, string>> Content => Details ? _source.DetailedContent : _source.Content;

  private string Unwrap(string value) => f2iDataService.Unwrap(value);

  protected override async Task OnInitializedAsync()
  {
    _source = await f2iDataService.GetStoryText(Topic, Src);
  }
}
