@page "/imagecard"
@using System.Drawing
@using System.Drawing.Imaging
@using System.IO

<div class="float-right">
  <a href=@details>
    <img src=@ImgTbn class="img-fluid" style="margin: 3px; border: 1px solid white; border-radius: 10px;" />
  </a>
</div>

@code {
  [Parameter]
  public string Topic { get; set; }

  [Parameter]
  public string Img { get; set; }

  string ImgFile => Path.Combine("img", Topic, Img);
  string ImgTbn => Path.Combine("img", Topic, $"Tbn_{Img}");
  string details => $"/imagedetails/{Topic}/{Img}";
}


