@using Focus2Infinity.Data
@inject F2IDataService f2iDataService

@if (_source != null)
{
  <Cmp_ImageCard Topic=@Topic Src=@Src />
  <a href=@details style="color:azure; text-decoration: none;"><span>@Headline</span> </a>
}
else
{
  <p>Loading...</p>
}


@code {
  [Parameter]
  public string Topic { get; set; }

  [Parameter]
  public string Src { get; set; }

  private ImageStory? _source = null;
  private string Headline => _source?.Headline ?? "Headline";
  string details => $"/imagedetails/{Topic}/{Src}";

  private string Unwrap(string value) => f2iDataService.Unwrap(value);

  protected override async Task OnInitializedAsync()
  {
    _source = await f2iDataService.GetStoryText(Topic, Src);
  }
}
