@page "/"
@using Focus2Infinity.Data
@inject F2IDataService f2iDataService

<PageTitle>Home</PageTitle>

@if (images == null)
{
  <h5>Loading...</h5>
}
else
{
  <div class="row">
  
  @for (int i = 0; i < images.Count; i++)
  {
      <div class="col-12 col-sm-6 col-lg-3 col-xxl-2" style="margin: 50px 10px;">
      <Cmp_ImgHead Topic=@GetTopic(i) Src=@GetImg(i) />
      </div>
  }
  
  </div>
}

@code {
  [Parameter]
  public string Topic { get; set; }
  List<Tuple<string, string>> images;
  string GetImg(int i) => @$"{images[i].Item1}";
  string GetTopic(int i) => @$"{images[i].Item2}";

  protected override async Task OnInitializedAsync()
  {
    images = await f2iDataService.GetAllTopics();
  }
}
