@page "/"
@using Focus2Infinity.Data
@using Microsoft.Extensions.Localization
@inject F2IDataService f2iDataService
@inject IStringLocalizer<Home> L

<PageTitle>@L["Home"]</PageTitle>

<ErrorBoundary>
@if (images == null)
{
  <h5>@L["Loading"]</h5>
}
else
{
  <div class="row">
  
      @foreach (var item in images)
      {
        var src = item.Src;
        var topic = item.Topic;

        <div class="col-12 col-sm-6 col-lg-3 col-xxl-2 image-tile" @key="src">
          <Cmp_ImgHead Topic="@topic" Src="@src" />
          </div>
      }
  
  </div>
}
</ErrorBoundary>

@code {
  [Parameter]
  public string Topic { get; set; }
  List<ImageItem> images;
  string GetImg(int i) => $"{images[i].Src}";
  string GetTopic(int i) => $"{images[i].Topic}";

  protected override async Task OnInitializedAsync()
  {
    images = await f2iDataService.GetAllTopics();
  }
}
