@using System.Globalization
@inherits LayoutComponentBase

<div class="container-fluid h-100">
  <div class="row">
    <img src="img/title3.jpg" alt="Image" class="img-fluid">
    <div class="col-1" style="background-color:black">
      <NavMenu />
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0">
      @Body
    </div>
  </div>
</div>

<Cmp_CookieConsent />