@using Focus2Infinity.Data
@using Focus2Infinity
@using Focus2Infinity.Options
@using Microsoft.Extensions.Options
@inject F2IDataService f2iDataService
@inject IStringLocalizer<SharedResource> L
@inject IOptions<OverlayEditorOptions> OverlayEditorOptions

@rendermode InteractiveServer

<nav class="navbar navbar-dark navbar-expand-md">
  <NavLink class="navbar-brand" href="/">
    Focus to Infinity
  </NavLink>
  <button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse @NavMenuCssClass">
    <ul class="navbar-nav">
      @if (allTopics == null)
      {
@*         <h5>@L["Loading"]</h5> *@
        <h5>Loading...</h5>
      }
      else
      {
        foreach (var item in allTopics)
        {
          <li class="nav-item">
            <NavLink class="list-group-item list-group-item-action menu-button text-nowrap" href=@item.Key @onclick="ToggleNavMenu">
              @item.Value
            </NavLink>
          </li>
        }
        @if (OverlayEditorOptions.Value.Enabled)
        {
          <li class="nav-item">
            <NavLink class="list-group-item list-group-item-action menu-button text-nowrap" href="/editor" @onclick="ToggleNavMenu">
              Overlay Editor
            </NavLink>
          </li>
        }
      }
    </ul>
    <div class="d-flex">
      <LanguageSwitcher />
    </div>
  </div>
</nav>

@code {
  private bool collapseNavMenu = true;
  private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu()
  {
    collapseNavMenu = !collapseNavMenu;
  }
  private Dictionary<string, string>? allTopics;

  protected override async Task OnInitializedAsync()
  {
    var topics = await f2iDataService.GetMainTopics();
    foreach (var topic in topics)
    {
      var c1 = Thread.CurrentThread.CurrentCulture;
      var c2 = Thread.CurrentThread.CurrentUICulture;
      allTopics ??= new Dictionary<string, string>();
      allTopics[topic] = L.GetString(topic);
    }
  }
}